extends layout


block content
  h1= title
  p Welcome to the Product planner

  .input-group.rounded
    input.form-control.rounded(type='search' placeholder='Search' aria-label='Search' aria-describedby='search-addon')
    span#search-addon.input-group-text.border-0
      i.fas.fa-search

  

  .contianer 
    .row 
      .col 
        #accordionExample.accordion
          each val, key in products
            .accordion-item
              //Header for 
              h2.accordion-header(id= val.orgName)
                button.accordion-button(type='button', data-bs-toggle='collapse', data-bs-target= '#' + 'a' + val._id, aria-expanded='true', aria-controls= 'a' + val._id)
                  .row 
                    | #{val.orgName} - #{val.product} - #{val.endpointDeployed} / #{val.endpointCount}
              
              //Product, Status, Alert Count
              .accordion-collapse.collapse(id= 'a' + val._id, aria-labelledby= val.orgName)
                .accordion-body
                  strong Product: &apos;
                  |  #{val.product} &apos;
                  br
                  strong Status: &apos;
                  |  #{val.status} &apos;
                  br
                  br
                  strong Daily: &apos;
                  |  #{val.daily} &apos;
                  br
                  strong Weekly: &apos;
                  |  #{val.weekly} &apos;

              //Groups & Policies


      .col 
      .col
      
  

  
