extends layout


block content
  h1= title
  p Welcome to the Product planner
  
  

  .contianer 
    .row 
      .col 
        #accordionExample.accordion
          each val, key in products
            .accordion-item
              //Header for 
              h2.accordion-header(id= val.orgName)
                button.accordion-button(type='button', data-bs-toggle='collapse', data-bs-target= '#' + 'a' + val._id, aria-expanded='true', aria-controls= 'a' + val._id)
                  .row 
                    | #{val.orgName} - #{val.product} - #{val.endpointDeployed} / #{val.endpointCount}
              
              //Product, Status, Alert Count
              .accordion-collapse.collapse(id= 'a' + val._id, aria-labelledby= val.orgName)
                .accordion-body
                  strong Product: &apos;
                  |  #{val.product} &apos;
                  strong Status: &apos;
                  |  #{val.status} &apos;

              //Groups & Policies


      .col 
      .col
      
  

  
